{% extends 'layout.html'%}
{% block content %}
<title>About us</title>
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/abouts/about-1/assets/css/about-1.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">
     <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" />
    <section class="py-3 py-md-5 py-xl-8">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
              <h2 class="display-5 mb-4"><b>Conheça a nossa História:</b> Descubra o Coração por trás da Loja.</h2>
            </div>
          </div>
        </div>
      
        <div class="container overflow-hidden">
          <div class="row gy-4 gy-lg-0">
            <div class="col-12 col-lg-6">
              <article>
                <div class="card border-0">
                  <img class="card-img-top img-fluid m-0" loading="lazy" src="https://images.pexels.com/photos/256514/pexels-photo-256514.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                  <div class="card-body border bg-white p-4">
                    <div class="entry-header mb-3">
                      <h2 class="card-title entry-title h4 mb-0">
                        <a class="link-dark text-decoration-none" href="#!">A nossa visão</a>
                      </h2>
                    </div>
                    <p class="card-text entry-summary text-secondary mb-3">Bem-vindo à Loja! Somos apaixonados por oferecer uma experiência de compra online excepcional, repleta de produtos cuidadosamente selecionados para enriquecer sua vida. Desde produtos naturais até itens exclusivos, estamos empenhados em trazer até você uma variedade de opções que refletem nossa dedicação à qualidade, autenticidade e sustentabilidade. Explore nossa loja e descubra uma coleção única de produtos que celebram o bem-estar, a harmonia e a beleza da vida.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-12 col-lg-6">
              <article>
                <div class="card border-0">
                  <img class="card-img-top img-fluid m-0" loading="lazy" src="https://images.pexels.com/photos/3861458/pexels-photo-3861458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                  <div class="card-body border bg-white p-4">
                    <div class="entry-header mb-3">
                      <h2 class="card-title entry-title h4 mb-0">
                        <a class="link-dark text-decoration-none" href="#!">Como tudo começou?</a>
                      </h2>
                    </div>
                    <p class="card-text entry-summary text-secondary mb-3">
                      Há alguns anos, um grupo de amigos apaixonados pela natureza e pelo estilo de vida holístico se reuniu com a ideia de criar uma loja online única. Movidos por valores de qualidade, autenticidade e sustentabilidade, eles começaram a selecionar cuidadosamente produtos que refletiam esses princípios. Assim, nasceu a Loja um espaço virtual onde clientes encontram produtos que alimentam corpo, mente e espírito. Desde então, a loja cresceu, atraindo uma comunidade de pessoas que compartilham os mesmos ideais. Hoje, a Loja é mais do que uma loja; é um santuário virtual onde os clientes encontram conforto, inspiração e conexão com algo maior.

                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/abouts/about-5/assets/css/about-5.css" />


{% endblock %}