{% extends 'admin/index.html' %}

{% block content %}
<br>
<h1 style="text-align: center">Gerir clientes</h1>
<br>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Morada</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.morada }}</td>
                <td>
                    <form action="{{ url_for('removecliente', id=cliente.id) }}" method="POST">
                        <button type="submit" class="btn btn-danger">Remover</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
